[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 600
startCommand = "python -u start.py"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
